@model Kztek_Core.Models.GridModel<Kztek_Model.Models.tbl_Event>
@using Kztek_Library.Models
@using Kztek_Library.Helpers

@{
    ViewBag.Title = "Sự kiện vào ra";
    //var authModel = (Kztek_Library.Models.AuthActionModel)ViewBag.AuthValue;
    Layout = Kztek_Library.Helpers.FunctionHelper.GetLayout(ViewBag.AreaCodeValue);
    var checkbytype = (string)ViewBag.isFilterByTimeIn;
}

<div class="page-header">
    <h1>

        @ViewBag.Title (@Model.TotalIem)
    </h1>
</div>


@using (Html.BeginForm("ReportVehicleComeInOut", "Report", FormMethod.Get, new { id = "frmReport" }))
{
    @Html.Hidden("AreaCode", (string)ViewBag.AreaCodeValue)
    @Html.Hidden("chkExport", "0")
    <div class="row">
        <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 divboxmd">
            Từ khóa
            <input type="text" name="key" value="@ViewBag.keyValue" placeholder=" @await Component.InvokeAsync("Language", new { path = "BODY:SEARCH:KEYWORD" })" class="form-control" />
        </div>

        <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 divboxmd">

            <span class="lbl">Trạng thái xe </span>
            @await Component.InvokeAsync("ChosenSelect", ViewBag.DriveStatus)

        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 divboxmd">
            Từ ngày:
            <div class="input-group">
                @Html.TextBox("fromdate", (string)ViewBag.fromdateValue, new { @class = "form-control datepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>

            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 divboxmd">
            Đến ngày:
            <div class="input-group">
                @Html.TextBox("todate", (string)ViewBag.todateValue, new { @class = "form-control datepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
  
    

        <div class="col-md-2 col-xs-2 divboxmd line-height-380">
            <label>
                <input type="radio" name="isCheckByTime" value="0" class="ace" @string.Format("{0}", checkbytype.Equals("0") ? "checked" : "")>
                <span class="lbl"> Giờ xe vào </span>
            </label>
        </div>
        <div class="col-md-2 col-xs-2 divboxmd line-height-380">
            <label>
                <input type="radio" name="isCheckByTime" value="1" class="ace" @string.Format("{0}", checkbytype.Equals("1") ? "checked" : "")>
                <span class="lbl">Giờ làm thủ tục </span>
            </label>
        </div>
        <div class="col-md-2 col-xs-2 divboxmd line-height-380">
            <label>
                <input type="radio" name="isCheckByTime" value="2" class="ace" @string.Format("{0}", checkbytype.Equals("2") ? "checked" : "")>
                <span class="lbl"> Giờ xuất hàng </span>
            </label>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            <br />
            <button class="btn btn-white btn-primary btnSearch" type="submit"><i class="fa fa-search" aria-hidden="true"></i> @await Component.InvokeAsync("Language", new { path = "BODY:BUTTON:SEARCH" }) </button>
            <a href='@Url.Action("ReportVehicleComeInOut", "Report",new { AreaCode = ViewBag.AreaCodeValue })' class="btn btn-primary btn-white" type="submit">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                Reset
            </a>
            <a href="javascript:void(0)" class="btnExport btn btn-white btn-primary" title="Xuất excel">
                <i class="ace-icon fa fa-file-excel-o"></i>  @await Component.InvokeAsync("Language", new { path = "BODY:BUTTON:EXCEL" })
            </a>

        </div>
    </div>
}



<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên khách hàng</th>
                    <th class="text-center">
                        Tên lái xe
                    </th>
                    <th class="text-center">
                        Biển số 1
                    </th>
                    <th class="text-center">
                        Biển số 2
                    </th>
                    <th class="text-center">Loại hàng hóa</th>
                    <th class="text-center">Ảnh 1</th>
                    <th class="text-center">Ảnh 2</th>
                    <th class="text-center">Giờ vào cổng</th>
                    <th class="text-center">Giờ làm thủ tục</th>
                    <th class="text-center">Giờ xuất hàng</th>
                    <th class="text-center">Trạng thái xe</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Data.Any())
                {
                    var count = 0;
                    foreach (var item in Model.Data)
                    {
                        count++;

                        <tr>
                            <td class="text-center">
                                @count
                            </td>
                            <td class="text-left">
                                @item.customer_Name
                            </td>

                            <td class="text-left">
                                @item.driver_Name
                            </td>
                            <td class="center">
                                @item.plate_Number1
                            </td>
                            <td class="center">
                                @item.plate_Number2
                            </td>
                            <td class="center">
                                @item.commodity_Name
                            </td>
                            <td class="center">
                                <div class="ace-thumbnails clearfix">
                                    @*<img src="~192.168.20.236\Images\Nam_2021\Thang_10\2021_10_16\IN1B7D93F7-7945-449B-8F4A-84EA0386C563\20211016_093747.500_1b7d93f7-7945-449b-8f4a-84ea0386c564.Plate1.jpg" alt="Alternate Text" />*@
                                    @if (!string.IsNullOrWhiteSpace(item.imgPath_Lpr1))
                                    {
                                        var newobj = new ImageFPTModel
                                        {
                                            Filename = item.imgPath_Lpr1,
                                            Type = "INOUT",
                                            Description = "Ảnh"
                                        };
                                        @await Component.InvokeAsync("ImageFPT", newobj)

                                    }
                                </div>

                            </td>
                            <td class="center">
                                <div class="ace-thumbnails clearfix">
                                    @if (!string.IsNullOrWhiteSpace(item.imgPath_Lpr2))
                                    {
                                        var newobj = new ImageFPTModel
                                        {
                                            Filename = item.imgPath_Lpr2,
                                            Type = "INOUT",
                                            Description = "Ảnh"
                                        };
                                        @await Component.InvokeAsync("ImageFPT", newobj)

                                    }
                                </div>

                            </td>
                            <td class="center">

                                @if (@item.event_DateTime_Gate.ToString(("dd/MM/yyyy")) == "01/01/0001"|| @item.event_DateTime_Gate.ToString(("dd/MM/yyyy")) == "01/01/1900")
                                {

                                }
                                else
                                {
                                    <span>@item.event_DateTime_Gate</span>
                                }

                            </td>

                            <td class="center">
                                @if (@item.event_DateTime_Service.ToString(("dd/MM/yyyy")) == "01/01/0001" || @item.event_DateTime_Service.ToString(("dd/MM/yyyy")) == "01/01/1900")
                                {

                                }
                                else
                                {
                                    <span>@item.event_DateTime_Service</span>
                                }



                            </td>
                            <td class="center">



                                @if (@item.event_DateTime_Warehouse.ToString(("dd/MM/yyyy")) == "01/01/0001" || @item.event_DateTime_Warehouse.ToString(("dd/MM/yyyy")) == "01/01/1900")
                                {

                                }
                                else
                                {
                                    <span>@item.event_DateTime_Warehouse</span>
                                }


                            </td>
                            <td class="text-center">

                                @if (item.event_Code == 0)
                                {
                                    <span class="label label-sm label-info">Xe mới vào cổng</span>
                                }
                                else if (item.event_Code == 1)
                                {
                                    <span class="label label-sm label-success">Xe đã làm thủ tục giấy tờ</span>
                                }
                                else if (item.event_Code == 2)
                                {
                                    <span class="label label-sm  label-default">Xe đã xuất hàng</span>
                                }




                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (Model.Data.Any())
    {
        <div class="col-xs-12">
            <div class="pull-right">


                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("ReportVehicleComeInOut", "Report", new
           {
               page = x,
               key = ViewBag.keyValue,
               fromdate = ViewBag.fromdateValue,
               todate = ViewBag.todateValue,
               StatusID = ViewBag.StatusID,
               AreaCode = ViewBag.AreaCodeValue,
               isCheckByTime = ViewBag.isFilterByTimeIn
                }))
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $(".btnExport").click(function () {

                $("#chkExport").val("1");

                $("#frmReport").submit();
            });

            //$(".btnSearch").click(function () {

            //    $("#frmReport").submit();
            //});
        });
    </script>
}