@model Kztek_Library.Models.PC_Tree

@if (Model.objPC != null)
{
    @Html.Hidden("hidPCId", Model.objPC.id)
   
    <div class="tree" style=" width: 100%; overflow-x: scroll; ">
        <ul>
            <li>
                <span>
                    @Model.objPC.pc_Name
                    <a href="javascript:void(0)" class=" btnAddLane" title="Thêm mới làn">

                        <i class="green ace-icon fa fa-plus bigger-120"></i>
                    </a>
                </span>
                @if (Model.LanePCs.Count > 0)
                {
                   
                    <ul>
                        @foreach (var itemL in Model.LanePCs)
                        {
                            var laneControllers = Model.Controllers.Where(n => n.lane_ID == itemL.lane_ID);

                            var laneLeds = Model.LaneLeds.Where(n => n.lane_ID == itemL.lane_ID);
                        <li>
                            <span href="javascript:void(0)">@itemL.lane_Name</span>
                            <ul>
                                <li>
                                    <span >
                                        Bộ điều khiển
                                        <a href="javascript:void(0)" class="btnAddController" idata="@itemL.lane_ID" title="Thêm mới bộ điều khiển">
                                            <i class="green ace-icon fa fa-plus bigger-120"></i>
                                        </a>
                                    </span>
                                    @if (laneControllers != null && laneControllers.Count() > 0)
                                    {

                                        <ul id="ulCon_@itemL.lane_ID">
                                            @foreach (var itemC in laneControllers)
                                            {
                                            <li id="liCon_@itemC.id">
                                               
                                                <span>
                                                    <a href="javascript:void(0)" class="btnConfigController" idata="@itemC.controller_ID" idata1="@itemL.lane_ID" title="Cấu hình bộ điều khiển">
                                                        <i class="info ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                    @itemC.controller_Name

                                                    <a href="javascript:void(0)" class=" btnDelController" idata="@itemC.id" title="Xóa bộ điều khiển">
                                                        <i class="red ace-icon fa fa-remove bigger-120"></i>
                                                    </a>
                                                </span>
                                            </li>
                                            }

                                        </ul>
                                    }

                                </li>
                                <li>
                                    <span>
                                        Led
                                        <a href="javascript:void(0)" class="btnAddLed" idata="@itemL.lane_ID" title="Thêm mới led">
                                            <i class="green ace-icon fa fa-plus bigger-120"></i>
                                        </a>
                                    </span>
                                    @if (laneLeds != null && laneLeds.Count() > 0)
                                    {

                                        <ul id="ulLed_@itemL.lane_ID">
                                            @foreach (var itemLed in laneLeds)
                                            {
                                                <li id="liLed_@itemLed.id">

                                                    <span>
                                                       
                                                        @itemLed.LED_Name

                                                        <a href="javascript:void(0)" class=" btnDelLed" idata="@itemLed.id" idata1="@itemL.lane_ID" title="Xóa led">
                                                            <i class="red ace-icon fa fa-remove bigger-120"></i>
                                                        </a>
                                                    </span>
                                                </li>
                                            }

                                        </ul>
                                    }
                                </li>
                            </ul>
                           

                        </li>


                        }


                    </ul>
                }

            </li>
        </ul>
        </div>
        }


    