@model Kztek_Model.Models.tblSystemConfig
@{
    ViewBag.Title = "Tham số hệ thống";
   Layout = Kztek_Library.Helpers.FunctionHelper.GetLayout(ViewBag.AreaCodeValue);

}

<div class="page-header">
    <h1>
        @await Component.InvokeAsync("Language", new { path = "BODY:TITLE:tblSystemConfig" })
    </h1>
</div>
<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Index", "tblSystemConfig", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.Hidden("AreaCode", (string)ViewBag.AreaCodeValue)

            <div class="form-group">
                <label class="col-sm-2 control-label-left no-padding-right">  @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:Company" }) </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextBoxFor(n => n.Company, new { @class = "form-control", @placeholder = "Company" })
                    @Html.ValidationMessageFor(n => n.Company, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:Phone" }) </label>
                <div class="col-md-2 col-xs-12">
                    @Html.TextBoxFor(n => n.Tel, new { @class = "form-control", @placeholder = "Tel" })
                    @Html.ValidationMessageFor(n => n.Tel, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label no-padding-right"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:Fax" })  </label>
                <div class="col-md-2 col-xs-12">
                    @Html.TextBoxFor(n => n.Fax, new { @class = "form-control", @placeholder = "Fax" })
                    @Html.ValidationMessageFor(n => n.Fax, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:Tax" }) </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextBoxFor(n => n.Tax, new { @class = "form-control", @placeholder = "Tax" })
                    @Html.ValidationMessageFor(n => n.Tax, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:Address" })  </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextAreaFor(n => n.Address, new { @class = "form-control", @placeholder = "Address", @rows = "5" })
                    @Html.ValidationMessageFor(n => n.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:FeeName" })  </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextBoxFor(n => n.FeeName, new { @class = "form-control", @placeholder = "FeeName" })
                    @Html.ValidationMessageFor(n => n.FeeName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> Logo  </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextBoxFor(n => n.Logo, new { @class = "form-control", @placeholder = "Logo" })
                    @Html.ValidationMessageFor(n => n.Logo, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> Giới hạn thời gian(Phút)  </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextBoxFor(n => n.DelayTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(n => n.DelayTime, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:Para1" })  </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextBoxFor(n => n.Para1, new { @class = "form-control", @placeholder = "P1(MS)" })
                    @Html.ValidationMessageFor(n => n.Para1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:Para2" })  </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextBoxFor(n => n.Para2, new { @class = "form-control", @placeholder = "P2(KH)" })
                    @Html.ValidationMessageFor(n => n.Para2, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                <label class="col-md-2 control-label-left no-padding-right"> Đường dẫn ảnh  </label>
                <div class="col-md-5 col-xs-12">
                    @Html.TextBoxFor(n => n.ImagePath, new { @class = "form-control", @placeholder = "" })
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"></label>
                <div class="col-sm-8">
                    <label class="line-height-250">
                        @Html.CheckBoxFor(n => n.EnableDeleteCardFailed, new { @class = "ace" })
                        <span class="lbl"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:EnableDeleteCardFailed" }) </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"></label>
                <div class="col-sm-8">
                    <label class="line-height-250">
                        @Html.CheckBoxFor(n => n.EnableSoundAlarm, new { @class = "ace" })
                        <span class="lbl"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:EnableSoundAlarm" }) </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"></label>
                <div class="col-sm-8">
                    <label class="line-height-250">
                        @Html.CheckBoxFor(n => n.EnableAlarmMessageBox, new { @class = "ace" })
                        <span class="lbl"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:EnableAlarmMessageBox" }) </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"></label>
                <div class="col-sm-8">
                    <label class="line-height-250">
                        @Html.CheckBoxFor(n => n.EnableAlarmMessageBoxIn, new { @class = "ace" })
                        <span class="lbl"> @await Component.InvokeAsync("Language", new { path = "BODY:TABLE:EnableAlarmMessageBoxIn" }) </span>
                    </label>
                </div>
            </div>*@
            <div class="clearfix form-actions">
                <div class="col-md-offset-4 col-md-8 input-group">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Save
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Countinue").click(function () {
                $("#SaveAndCountinue").val('true');
            });

        });
    </script>
}

