@using Kztek_Library.Helpers

@model Kztek_Library.Models.PartialActionModel<Kztek_Model.Models.tbl_Controller>

@{
    var action = Model.Action;
    var controller = Model.Controller;
    ViewBag.Title = action.Contains("Create") ? await Component.InvokeAsync("Language", new { path = "BODY:BUTTON:CREATE" })
         : await Component.InvokeAsync("Language", new { path = "BODY:BUTTON:UPDATE" });
    int pn = Model.Page;
}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm(action, controller, FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.Hidden("ControllerID", Model.Model != null ? Model.Model.id : "")
            @Html.Hidden("SaveAndCountinue", false)

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Tên BĐK<span style="color:red">(*)</span></label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBox("controller_Name", Model.Model.controller_Name, new { @class = "form-control", @placeholder = "Tên BĐK" })
                    @Html.ValidationMessage("controller_Name", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Giao thức </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.DropDownList("comm_Type", new SelectList(Model.Commu_1, "ItemValue", "ItemText", Model.Model.comm_Type), new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right" id="comport"> Cổng COM</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBox("com_Port", Model.Model.com_Port, new { @class = "form-control", @placeholder = "Cổng COM" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right" id="daudrate"> Baudrate</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBox("baud_Rate", Model.Model.baud_Rate, new { @class = "form-control", @placeholder = "Baudrate" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Loại BĐK </label>
                <div class="col-sm-4 col-xs-12">
                    @await Component.InvokeAsync("ChosenSelect", Model.Data_Select_2)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Address(RS232/485/422)</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBox("controller_Address", Model.Model.controller_Address, new { @class = "form-control", @placeholder = "Địa chỉ" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Số lượng đầu đọc</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBox("Readers_Number", Model.Model.Readers_Number, new { @class = "form-control", @type = "number", @min = "0" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Số lượng Barrier</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBox("Inputs_Number", Model.Model.Inputs_Number, new { @class = "form-control", @type = "number", @min = "0" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Số lượng nút bấm và loop</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBox("Relays_Number", Model.Model.Relays_Number, new { @class = "form-control", @type = "number", @min = "0" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Dừng sử dụng</label>
                <div class="col-sm-4">
                    <label class="block">
                        @Html.CheckBox("Inactive", Model.Model.Inactive, new { @class = "ace input-lg" })
                        <span class="lbl"> </span>
                    </label>
                </div>
            </div>

            @await Html.PartialAsync("~/Views/Shared/Partials/ButtonPartial.cshtml", new Kztek_Library.Models.AuthPartialModel()
            {
          ControllerName = controller,
          ActionName = action,
          RecordId = "",
          model = new { AreaCode = ViewBag.AreaCodeValue },
          Auth_Value = null
      })

        }
    </div>
</div>

